*.a
*.f
*.o
CLAPACK/INSTALL/test*
CLAPACK/make.inc
f2c_BLAS-3.8.0/make.inc
lib/
libf2c/*.js
libf2c/*.wasm
libf2c/arith.h
libf2c/f2c.h
libf2c/Makefile
libf2c/signal1.h
libf2c/sysdep1.h
Makefile.in
testing/x[cdsz]cblat*
