*.a
*.f
*.o
**/*.rej
CBLAS/**/*.c
CLAPACK-3.2.1/INSTALL/test*
CLAPACK-3.2.1/make.inc
Makefile.in
f2c_BLAS-3.8.0/*.c
f2c_BLAS-3.8.0/make.inc
libf2c/*.js
libf2c/*.wasm
libf2c/Makefile
libf2c/arith.h
libf2c/f2c.h
libf2c/signal1.h
libf2c/sysdep1.h
CBLAS/testing/x[cdsz]cblat*
